mixin textField(viewmode, value)
  .textField
    label(for="textField") Textfield 
    label(for="textField")  
      input#textField(
        type="text", 
        name="Textfield", 
        value=${value}
      )
