mixin textField(viewmode, value)
  .textField
    .textAbove
      label.naming(for="textField") Textfield 
      label.mode(for="textField")= viewmode
      input#textField(
          type="text", 
          name="Textfield", 
          value=value}
      )
