  p.chbxb CHECKBOX BUTTONS 
  .onemay 
    input#pets(type="checkbox", name="")
    label(for="pets") Можно с питомцами
  .onemay 
    input#smoking(type="checkbox", name="")
    label(for="smoking") Можно курить
  .onemay 
    input#guests(type="checkbox", name="")
    label(for="guests") Можно пригласить гостей (до 10 человек)