mixin col-sample(color,hex)
  .sample
    .sample__square
    h2.sample__col-name = color 
    h2.sample__hex = hex

+col-sample('Dark Shade 100%', '#1F2041')
+col-sample('Dark Shade 75%', '#1F2041')
+col-sample('Dark Shade 50%', '#1F2041')
+col-sample('Dark Shade 25%', '#1F2041')
+col-sample('Dark Shade 5%', '#1F2041')
+col-sample('Purple', '#BC9CFF')
+col-sample('Green', '#1F2041')