// We should use calculation to get the proper num of pages
nav.pagesnum Pagination 
  - for (var x = 0; x < 3; x++)
  a.pagesnum__pagenum("#{x}")
  a.pagesnum__gap ...
  button.pagesnum__shift(type="button")
  .pugesnum__info 1 – 12 из 100+ вариантов аренды