mixin pros(icon, naming, explanation)
  span.material-icons(icon)
  h3.name(naming)
  p = explanation

+pros('mood', 'Комфорт', 'Шумопоглощающие стены')
+pros('location_city', 'Удобства', 'Окно в каждой из спален')
