footer
if (screenres)

  #whoweare
    img#logo(src='')
    .description 
  nav.grid
    .name Насвигация
    .name О нас
    .name Служба поддержки
    .name Подписка
    .mitem О нас
    .mitem Служба поддержки
    .mitem Услуги
    .mitem О сервисе
    .mitem Наша команда
    .mitem Вакансии
    .mitem Инвесторы
    .mitem Соглашения
    .mitem Сообщества
    .mitem Связь с нами
    .mitem Получайте специальные предложения и новости сервиса
    form
      input(type="email", value="", placeholdertext="Email")
      button(type="submit" value="/src/img/submit.png")  